    <header class="bg-red-700 text-black p-4 shadow-md">
      <nav class="container mx-auto flex gap-10 justify-between items-center">
        <ul class="flex space-x-4">
          <li>
            <a
              href="/"
              class= " <%= currentPage === 'index' ? 'bg-red-400 ': 'hover:bg-red-400 ' %> transition-all duration-75 py-2 px-4 rounded-lg"
              >Airbnb</a
            >
          </li>
          <li>
            <a
              href="/homes"
              class= " <%= currentPage === 'Home' ? 'bg-red-400 ': 'hover:bg-red-400 ' %> transition-all duration-75 py-2 px-4 rounded-lg"
              >Home-list</a
            >
          </li>
          <li>
              <a
              href="/favourites"
              class="<%= currentPage === 'favourites' ? 'bg-red-400 ': 'hover:bg-red-400 ' %>  transition-all duration-75 py-2 px-4 rounded-lg"
              >Favourites
               </a>
          </li>
          <li>
              <a
              href="/bookings"
              class="<%= currentPage === 'bookings' ? 'bg-red-400 ': 'hover:bg-red-400 ' %>  transition-all duration-75 py-2 px-4 rounded-lg"
              >Bookings
               </a>
          </li>
          <li>
              <a
              href="/host/host-home-list"
              class="<%= currentPage === 'host-home' ? 'bg-red-400 ': 'hover:bg-red-400 ' %>  transition-all duration-75 py-2 px-4 rounded-lg"
              >Host Home
               </a>
          </li>
          <li>
              <a
              href="/host/add-home"
              class="<%= currentPage === 'addHome' ? 'bg-red-400 ': 'hover:bg-red-400 ' %>  transition-all duration-75 py-2 px-4 rounded-lg"
              >Add Home
               </a>
          </li>



  
        </ul>
      </nav>
    </header>