<%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>

  <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-6xl">

    <h2 class="text-3xl text-red-500 font-bold text-center mb-8">
      Available Homes
    </h2>

    <% if (registerHomes && registerHomes.length > 0) { %>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-10">

        <% registerHomes.forEach(home => { %>
          <div class="border rounded-lg overflow-hidden shadow hover:shadow-xl transition">

            <img
              src="<%= home.imageURL %>"
              alt="<%= home.name %>"
              class="w-full h-48 object-cover"
            >


            <div class="p-4 space-y-2">
              <h3 class="text-xl font-semibold"><%= home.name %></h3>
              <p class="text-gray-500 text-sm"><%= home.location %></p>

              <p class="text-green-600 font-bold">
                $<%= home.price %> / night
              </p>

              <div class="flex items-center justify-between mt-4">
              <div class="flex flex-col justify-center items-center">
                      <a
                  href="/homes/<%= home.id %>"
                  class="text-red-500 font-semibold hover:underline"
                >
                  View Details
                </a>
           <%- include('../partials/favourite', {home: home}) %>
                
              </div>

                <span class="text-yellow-400">
                  ★ <%= home.rating %>
                </span>
              </div>
            </div>

          </div>
        <% }) %>

      </div>

    <% } else { %>

      <p class="text-center text-gray-500 text-lg">
        No homes available right now.
      </p>

    <% } %>

  </main>
</body>
</html>
